extends _layouts/pagewrapper


block title
  | Vyacheslav Sykhanov

block includes

  .page-wrap
  
    .top-background
  
    include _includes/_header
    include _includes/_work
    include _includes/_skills
    include _includes/_contact
    include _includes/_footer
