section#about
  
  .container
  
    h2 About
  
    .text-wrap.col-big
      p Why a web developer? Because this is a great way to express creativity and realize my potential. Writing code is like a journey, always open something new.
      p That's why I'm doing this.
