section#footer

  .container
    ul.social.col-small
      li.github
        a(href="https://github.com/webslavik" target='_blank')
          include svg-code/social-github.svg
      li.linkedin
        a(href="https://ua.linkedin.com/in/slaviksukhanov" target='_blank')
          include svg-code/social-linkedin.svg
      li.vk
        a(href="http://vk.com/id9070455" target='_blank')
          include svg-code/social-vk.svg
          
    .copy.col-small
      p &#169; Copyright 2016
      
