section#header

  .container
    .col-big.color-1
      h1 Hello there!
      p.header My name is Slavik and I’m a 
        span.header web Front-End developer
        | .
      p.header Why a web developer? Because this is a great way to create something awesome. Writing code is like a journey. Always open something new.
      p.header That's why I'm doing this.
      
      
    //- p.header Why a web developer? Because this is a great way to express creativity and create something awesome. Writing code is like a journey. Always open something new.
    //-   
    //- .col-small.color-2
    //-   include svg-code/header-face.svg
      
    
