section#header

  .container
    .col-small.color-1
      h1 Hi!
      p.header My name is Slavik and I’m a 
        span.header web-developer
        | .
      
    .col-small.color-2
      include svg-code/header-face.svg
      
    
