mixin work-element(link,img,title, descr)
  .col-small
    a(href="#{link}").work-element
      .work-img
        .img(style='background-image: url(/assets/img/#{img})')
      
      .descr
        h4  #{title}
        p.desctiption #{descr}

section#work
  
  .container
    
    h2 Work
    
    +work-element('http://webslavik.github.io/Origami-Page/', 'bg-origami.jpg', 'Origami', 'Parallax')
    
    +work-element('/work-assets/001_landing-page/index.html', 'landing-page.jpg', 'Landing Page', 'Jade, Sass, Susy, jQuery')
    
    +work-element('/work-assets/002_folio-page/index.html', 'folio-page.jpg', '.Folio', 'Use Foundation 6 grid')
    
    +work-element('/work-assets/003_ovk-page/index.html', 'ovk.jpg', 'OVK', 'Jade, Sass, Foundation, jQuery')
    
    +work-element('/work-assets/004_artist-theme/index.html', 'artist-theme.jpg', 'Artists-Theme', 'Sass, jQuery')
    
    +work-element('#', 'bg-project.jpg', 'Project Name', 'Short description of the project')
  
