mixin work-element(link,img,title, descr)
  .col-small
    a(href="#{link}").work-element
      .work-img
        img(src="assets/img/#{img}", alt="")
      
      .descr
        h4  #{title}
        p.desctiption #{descr}

section#work
  
  .container
    
    h2 Work
    
    +work-element('/work-assets/001_landing-page/index.html', 'landing-page.jpg', 'Landing Page', 'First practice work.')
    
    +work-element('/work-assets/002_folio-page/index.html', 'folio-page.jpg', '.Folio', 'Use Foundation 6 grid mixins.')
    
    +work-element('/work-assets/003_ovk-page/index.html', 'ovk.jpg', 'OVK', 'More practice!')
    
    +work-element('/work-assets/004_artist-theme/index.html', 'artist-theme.jpg', 'Artists-Theme', 'Awesome work with Travis.')
    
    +work-element('#', 'bg-project.jpg', 'Project Name', 'Short description of the project')
    
    +work-element('#', 'bg-project.jpg', 'Project Name', 'Short description of the project')
    
