mixin work-element(link,img,title, descr)
  .col-small
    a(href="#{link}").work-element
      .work-img
        .img(style='background-image: url(/assets/img/#{img})')
      
      .descr
        h4  #{title}
        p.desctiption #{descr}

section#work
  
  .container
    
    h2 Work
    
    +work-element('http://hirundo.media-kiwi.pl/', 'hirundo.jpg', 'Hirundo', 'Modx, Sass, jQuery')
    
    
    +work-element('/work-assets/dist/index.html', 'bg-project.jpg', 'Test', 'JavaScript, Sass')
    
    +work-element('http://webslavik.github.io/Origami-Page/', 'bg-origami.jpg', 'Origami', 'Parallax')
    
    
    +work-element('/work-assets/ovk-page/index.html', 'ovk.jpg', 'OVK', 'Jade, Sass, Foundation, jQuery')
    
    +work-element('/work-assets/artist-theme/index.html', 'artist-theme.jpg', 'Artists-Theme', 'Sass, jQuery')
    
    +work-element('/work-assets/folio-page/index.html', 'folio-page.jpg', '.Folio', 'Use Foundation 6 grid')
    
    
    
  
